/node_modules
/public/hot
/public/storage
/public/robots.txt
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
/config/database.php
/config/mongodb.php
/config/app.php
/public/images/catalog