array (
  'object' => 'page',
  'entry' => 
  array (
    0 => 
    array (
      'id' => '106274717810000',
      'time' => 1596688940267,
      'standby' => 
      array (
        0 => 
        array (
          'sender' => 
          array (
            'id' => '3429492650408259',
          ),
          'recipient' => 
          array (
            'id' => '106274717810000',
          ),
          'timestamp' => 1596688939937,
          'message' => 
          array (
            'mid' => 'm_uwxsl6gGwoox2kZ9XHyfAqvQiRMNmcXwC82wPoifMN_dtck_52nqIkSoRy2w5a8VKlN4U4KEmB_Yud6xMAmlbQ',
            'text' => 'End Live Chat',
            'quick_reply' => 
            array (
              'payload' => '{"action":"exit_live_chat"}',
            ),
          ),
        ),
      ),
    ),
  ),